


<%= image_tag('AF-logo.png') %>
<br></br>
<div class='description-text'>
The <%= link_to 'Awesome Foundation', 'http://awesomefoundation.org' %> is an ever-growing, worldwide network of people devoted to forwarding the interest of awesomeness in the universe. Created in the long hot summer days of 2009 in Boston, the Foundation distributes a series of monthly $1,000 grants to projects and their creators. The money is pooled together from the coffers of ten or so self-organizing “micro-trustees” and given upfront in cash, check, or gold doubloons. The 47+ chapters around the world are autonomous and organized by the trustees around geographic areas or topics of interest.
<br></br>
The Foundation provides these grants with no strings attached and claims no ownership over the projects it supports. It is, in the words of one trustee, a micro-genius grant for flashes of micro-brilliance.
<br></br>

<u><b>Role:</b></u>  Trustee, San Francisco Chapter

<br></br>
<p class='description-text'><u>Past San Francisco grants include:</u></p>
<ul>
<li>A Timelapse History of the Sky</li>
<li>Bathtub Street Gondola</li>
<li>Lunar Topography Laser Carvings</li>
</ul>

</div>