<%= image_tag('before i graduate.jpeg') %>
<br></br>
"Before I Graduate..." was conceived in my waning days of senior year at college, and inspired by Candy Chang's <%= link_to "Before I Die...", 'http://beforeidie.cc'%>  wall in New Orleans. For overworked students, its far too easy to fall into a rut and forget about how finite their time on campus is. The project was meant to counteract this by provided the campus with a fun, playful, community bucketlist.
<br></br>

I set up a 23-foot-long chalkboard in the heart of campus with the repeating words “I want to,” followed by a blank space and colorful chalk nearby. Within hours students had completely overwhelmed the board with their hopes and dreams for the future. Responses ranged from the more playful "Go streaking" and "Kiss a crew boy" to the more personal "Make a difference" and "Not be ashamed of myself"

<br></br>
</p><b><u>Press:</b></u></p>
<p><%= link_to 'The Harvard Crimson', 'http://www.thecrimson.com/article/2011/4/19/things-before-seniors-want/' %></p>
