
	<div id='bio_pic'>
	<p><%= image_tag('george clones.jpg') %></p>
	</div>
	

<div class='description-text'>
<p class='description-text'>I'm happiest when I'm making awesome things happen. </p>
<p class='description-text'>I take an adventure-centric approach to life and relish poking the world around me.</p>
<p class='description-text'></p>
<br></br>
<p class='description-text'>Born and raised in New York City, studied sociology at Harvard, and currently exploring San Francisco.</p>
<p class='description-text'> My projects strive to create unique and inspiring experiences that positively reshape people's interactions with the world.</p>
<p class='description-text'> They tend to explore themes of community, play, and how of how to best inject doses of Awesomeness into daily life.</p>
<br> </br>
<p class='description-text'>Daytime --> Leading user research at <%= link_to 'CouchSurfing.org', 'http://www.couchsurfing.org' %></p> 
<p class='description-text'>Othertime --> Scheming up one whimsical project after another</p> 
<br> </br>

I'd probably love to meet you.
<p class='description-text'>Lets experiment. Together!</p>

<br></br>

George.Zisiadis@gmail.com
</div>






