
	<div id='bio_pic'>
	<p><%= image_tag('george clones.jpg') %></p>
	</div>
	

<div class='description-text'>
<p class='description-text'>I tend to chase after the epic side of life. The more adventure, the better.  </p>
<p class='description-text'>Born and raised in New York City, schooled in sociology at Harvard, and currently exploring San Francisco.</p>
<p class='description-text'> Aspiration = Making life as Awesome as possible for others.</p>
<br> </br>
<p class='description-text'>Daytime --> Leading user research at <%= link_to 'CouchSurfing.org', 'http://www.couchsurfing.org' %></p> 
<p class='description-text'>Othertime --> Scheming up one whimsical project after another</p> 
<br> </br>


Lets experiment. Together!

<br></br>

George.Zisiadis@gmail.com
</div>






