<%= image_tag('DjStraus-wText.jpg') %>
<br></br>
<iframe width="85%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F231717&amp;auto_play=false&amp;show_artwork=false&amp;color=ff9c00"></iframe>

DJ Straus was born out of my desire to deliver a college musical experience that extended beyond hopelessly replayed top 40 songs. From Guns n Roses to Lady Gaga, The Beatles to LMFAO, my mashed up mixing cut across all genres, styles, and expectations.
<br></br>

Within a semester, Straus had played at a dozen major campus events and the monthly ten-minute mixes had garnered over 6,700 plays and 800+ downloads. The brand had by then become a well-known force for good in the campus music scene. 


<br></br>
</p><b><u>Press:</b></u></p>
<p><%= link_to 'The Harvard Crimson', 'http://www.thecrimson.com/article/2010/3/2/the-dutiful-dj/' %></p>

