<%= image_tag('Examer_Slammer.jpeg') %>
<br></br>
Developed in the midst of a grueling college finals period, The Examer Slammer arose out of the frustration of finishing one exam only to begin studying for the other. Where was the intermittent celebration?!
<br></br>

Exasperated, I posted a quill, a stack of yellow paper, and an 8-foot decorated chicken wire tube in my house dining hall with the following instructions:
<br></br>
<i>
<p>1) Take the quill and inscribe the name of the finished course on the yellow paper.</p>
<p>2) Write a heartfelt message to your course and sign it with your name.</p>
<p>3) CRUMPLE IT UP!</p>
<p>4) Climb to the top of the Adams House Chair of Cheer, and...</p>
5) SLAM! it in as a sign of your triumph over adversity and your success in completing your course.</i>
<br></br>
With over 1,000 submissions in one week, The Examer Slammer provided students some much needed catharsis by enabling them to visualize and collectively celebrate their triumph over the status quo of misery. 
<br></br>
</p><b><u>Press:</b></u></p>
<p><%= link_to 'The Harvard Crimson', 'http://www.thecrimson.com/article/2010/12/21/adams-zisiadis-paper-course/' %></p>

