<iframe src="http://player.vimeo.com/video/39464915" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
<div class='description-text'>

	Everyone loves music. So why not more of it?

	<p class='description-text'>On a sunny Saturday afternoon in March 2012 the SF Funk Truck made its debut tour across the city.</p> <p class='description-text'>Needless to say, there was dancing, cheering, and just an all around good time had by all. </p>
<br></br>
	Hardly anyone could bear to walk the streets that day without revealing a smile. 

</div>