<div class='page-pic'>
<%= image_tag('WAVE.jpg') %>
</div>
<br></br>

<div class='description-text'>
	Created by artist <%= link_to 'Charles Gadeken', 'http://charlesgadeken.com' %> and premiered at the 2012 Coachella Valley Music and Arts Festival,
	WAVE is the world’s tallest wave generator. It's constructed from four 30-foot towers that dance on the horizon, illuminated from within by full color LEDs and by fire at the apex. The slow moving, high amplitude transverse waves provide a physical example for the visualization of this complex and changing phenomena. WAVE thus takes architecture and science to the edge of abstraction.
<br></br>
	The overall effect of the work is massive, surreal, intimidating, hypnotic and simply stunning.
<br></br>
<u><b>Role:</b></u>  Construction and Maintainance Crew

</div>