// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap'; 

header {
	position: fixed;
	display: block;
	float:left;
	width:180px;
	padding-bottom: 500px;
	border: 5px solid orange;
	

}

div {display: block;}



#nav {
	width: 130px;
	height:500px;
	margin: 30px 50px 0 15px;
	float:left;
	position: fixed;
	z-index: 10;

}

.body {
	margin-top: 30px;
	height: 500px;
	width: auto;
	margin-left: 140px;
	
}

#name {
	
	float: left;
	margin-top: auto;

}

#project-text {
	padding-left: 5px;
}



img {
	width: auto;
	height : 300px;
	width: 200px;
	height : auto;
	z-index:10;
    padding:1px;
-moz-box-shadow:0px 0px 7px #000000;
-webkit-box-shadow:0px 0px 7px #000000;
box-shadow:0px 0px 7px #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 		
}


Wave {
	width: 640px !important ;
	height: 360px !important;
}

#bio_pic{
	
	height: 600px;
	width: 600px;
}


.text {
font-size: 18px;
font-family: Helvetica;
line-height: 15px;
overflow: hidden;
padding: 2px 3px 2px 3px;
white-space: nowrap;
text-align: center;
}

.project-thumb {
float: left;
margin: 0 35px 10px 0;
position: relative;
text-align: center;
	&:hover {
		opacity: .9;
		color:red;
	}
}

#navtext {
	margin-top: 90px;
	position: relative;
	
}

iframe { margin-left: 10%;
		margin-right: 10%;}


