// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap'; 

header {
	position: fixed;
	display: block;
	float:left;
	width:180px;
	padding-bottom: 500px;
	border: 5px solid orange;
	

}

div {display: block;}



#nav {
	width: 160px;
	height:500px;
	margin: 30px 50px 0 15px;
	float:left;
	position: fixed;
	z-index: 10;

}

.body {
	margin-top: 30px;
	height: 500px;
	width: auto;
	margin-left: 240px;
	
}





.description-text {
	font-size: 20px;

}


img {
	
-moz-box-shadow:0px 0px 7px #000000;
-webkit-box-shadow:0px 0px 7px #000000;
box-shadow:0px 0px 7px #000000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 		
}


#bio_pic{
	
	height: auto;
	width: 600px;
}


.text {
font-size: 24px;
font-family: Helvetica;
line-height: 15px;
overflow: hidden;
padding: 2px 3px 2px 3px;
white-space: nowrap;
text-align: center;

}

#text-balloon {
	height: 40px;
}

.project-thumb {
float: left;
margin: 0 35px 10px 0;
position: relative;
text-align: center;
	width: 230px;
	height : 230px;
	z-index:10;
    padding:1px;

	&:hover {
		opacity: .9;
		color:red;
	}
}

/* Nav Bar */

#name {
	
	float: left;
	margin-top: auto;
	font-size: 40px;
	color:black;
	font-family: Zapfino;
	line-height: 1.9;
	

	
}

.navtext {
	position: relative;
	font-size: 22px;
	color: black;

	
}

#navbar{
	margin-top: 120px;

}

.project-text {
	position: relative;
	font-size: 30px;
	line-height: 1;
	margin-top: 30px;
	color: #898989;
	padding-left: 5px;
	&:hover {
		color: red;

	};
}
	
	


#line {
	border-bottom: 2px black dashed;
	margin-top: 20px;
}

iframe { margin-left: 10%;
		margin-right: 10%;}


