// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap'; 

header {
	position: fixed;
	display: block;
	float:left;
	width:180px;
	padding-bottom: 500px;
	border: 5px solid orange;
	

}

div {display: block;}



#nav {
	margin-top: 30px;
	width: 130px;
	height:500px;
	margin-right: 50px;
	float:left;
	border: 5px solid orange;
	position: fixed;
	z-index: 10;

}

#body {
	margin-top: 30px;
	height: 500px;
	width: auto;
	border: 5px solid orange;
	margin-left: 130px;
	
}

#name {
	
	float: left;
	border: 5px solid blue;
	margin-top: auto;

}

#project-text {
	padding-left: 5px;
}

  img {
	width: 250px;
	height: 200px;
		
}


.thumb_title .text {
color: black;
font-size: 11px;
font-weight: bold;
line-height: 15px;
overflow: hidden;
padding: 2px 3px 2px 3px;
white-space: nowrap;
text-align: center;
}

.project-thumb {
float: left;
margin: 0 35px 10px 0;
position: relative;
text-align: center;
	&:hover {
		border: 1px solid green;
	}
}

